<%= form_with model: product do |form| %>

    <div class="form-group mb-3">
        <%= form.label :name %>
        <%= form.text_field :name,class:"form-control" %>
        <% product.errors.full_messages_for(:name).each do |message| %>
            <div> <%= message %> </div>
        <% end %>    
    </div>
    
    <div class="form-group mb-3">
        <%= form.label :description %>
        <%= form.text_field :description,class:"form-control" %>
        <% product.errors.full_messages_for(:description).each do |message| %>
            <div> <%= message %> </div>
        <% end %>  
    </div>

    <div class="form-group mb-3">
      <%= form.label :price %> <br>
      <%= form.text_field :price,class:"form-control" %>
      <% product.errors.full_messages_for(:price).each do |message| %>
          <div> <%= message %> </div>
      <% end %>  
    </div>

    <div class="form-group mb-3">
      <%= form.label :image %> <br>
      <%= form.text_field :image,class:"form-control" %>
      <% product.errors.full_messages_for(:image).each do |message| %>
          <div> <%= message %> </div>
      <% end %>  
    </div>

    <div>
      <%= form.label :user_id %> <br>

        <%= form.collection_select :user_id, User.order(:name),:id,:name ,{}, {:class=>'form-control'}%>

    </div>


    <div class="mb-3">
    <%= form.submit  class: "btn btn-primary mt-3" %>
    <%= link_to "Back", :back,class:"btn btn-secondary mt-3" %>

    </div>
    
    
    <% end %>    