<h1> <%= @product.name %> </h1>
<p> <%= @product.description %> </p>
<p> <%= @product.price %> </p>
<img src="<%= @product.image %>" alt="image failed" ><br> 
<%= link_to "Back", :back,class:"btn btn-info mt-3" %>

